# .travis.yml for R projects.

warnings_are_errors: false

language: r

matrix:
  include:
    - os: linux
      r: release
    - os: linux
      r: devel

sudo: false

cache: packages

notifications:
  email:
    on_success: change
    on_failure: change

branches:
  only:
    - master
